[user]
	name = Jeffrey Horn
	email = jeffh@generalassemb.ly
[credential]
	helper = osxkeychain
[github]
	user = jrhorn424
[core]
	autocrlf = input
	safecrlf = false
	quotepath = false
	excludesfile = /Users/jeffh/.global_ignore
[pull]
	rebase = true
[push]
	default = current
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	credit = !$HOME/bin/git-credit
	dm = !$HOME/bin/git-delete-local-merged
	ahead = !$HOME/bin/git-notpushed
	nuke = !$HOME/bin/git-nuke
	undo = !$HOME/bin/git-undo
[git-up "bundler"]
	check = true
	autoinstall = true
[git-up "rebase"]
	log-hook = "echo \"changes on $1:\"; git log --oneline --decorate $1..$2"
[merge "gemfilelock"]
	name = relocks the gemfile.lock
	driver = bundle install
[branch]
	autosetuprebase = always
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
	keepBackup = false
[merge]
	tool = Kaleidoscope
[mergetool]
	keepBackup = false
