[user]
	name = Jeffrey Horn
	email = jeff@jrhorn.me
	signingkey = A2D272CFF38DB3A7
[credential]
	helper = osxkeychain
[github]
	user = jrhorn424
[core]
	autocrlf = input
	safecrlf = false
	quotepath = false
	excludesfile = /Users/jeffh/.global_ignore
[pull]
	rebase = true
[push]
	default = current
[git-up "bundler"]
	check = true
	autoinstall = true
[git-up "rebase"]
	log-hook = "echo \"changes on $1:\"; git log --oneline --decorate $1..$2"
[merge "gemfilelock"]
	name = relocks the gemfile.lock
	driver = bundle install
[branch]
	autosetuprebase = always
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
	keepBackup = false
[merge]
	tool = Kaleidoscope
[mergetool]
	keepBackup = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[ghi]
	token = !security find-internet-password -a jrhorn424 -s github.com -l 'ghi token' -w
[hub]
	host = git.generalassemb.ly
[color]
	ui = true
